/* ================================
   ESTILOS DEL BODY
   ================================ */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
    background-image: url('../assets/Logo.png');
    background-size: contain; /* más limpio que usar 90vw */
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
}
