.hero-section {
    background: linear-gradient(to right, #e8f6fa, #f1fff8);
    padding: 45px 20px;
    border-radius: 14px;
    margin: 40px auto 0;
    width: 82%;
    max-width: 1100px;
    position: relative;
    bottom: 10px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.06);
}

.hero-section h1 {
    color: #1f41af;
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: 700;
}

.hero-section p {
    color: #6cc2ad;
    font-size: 1rem;
    margin-bottom: 22px;
}

.hero-button {
    background-color: #098874;
    color: #fff;
    padding: 10px 32px;
    border: none;
    border-radius: 22px;
    display: inline-flex;
    justify-content: center;                                
    margin: 0 auto;
    font-size: 0.95rem;
    cursor: pointer;
}


.titulo-cursos{
    text-align: center;
    color: #6c7685;
}
.cont-cursos{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.cont-noticias{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.titulo-noticias{
    text-align: center;
    color: #6c7685;
}