.login-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #f7f8fa;
}

.login-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
