.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1b1b1b;
  padding: 1rem 2rem;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-logo img {
  height: 45px;
}

.navbar-links {
  display: flex;
  gap: 1.5rem;
}

.navbar-links a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

.navbar-links a:hover {
  color: #00adb5;
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
  }
}